<!DOCTYPE html>
<html>
  <head>
    <title>careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit:cover;
        margin-border: 16px;
      }
    </style>
  </head>
  <body>
    {% include 'nav.html' %}
    <img class="img-fluid" id="banner" src="https://tocheel-careers-website.maxikolbe.repl.co/static/banner:1.jpg" height="360pix" >
    <div class="container">
      <h1 class="text-center mt-2 mb-4"> Tocheel Careers
      </h1>
      <div class="row" style="margin-bottom:16px;">
        <div class="col-md-6">
    <p class="Lead">
      Tocheel is a technology company providing a leading financial platform, financial advice, trading and market data and investment management, and help with mortgages and pensions. Tocheel's careers page is quirky and unique - using stylish graphics to highlight critical information. Tocheel also uses employee feedback, highlights key benefits of working for the company, and provides links to blog posts and more information on the best career site. The link to available vacancies is easy to follow and provides candidates with valuable filters and categories to find the job most suited to them.
    </p>
        </div>
        <div class="d-none d-md-block col-6">
      <img src="/static/People.jpg" style="height:280px;Borger-radius:4px;ger">
        </div>
        </div>
    <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <div>
        {% for job in jobs %}
        {% include 'jobitem.html' %}
        {% endfor %}
      </div>
    <div class="text-center">
    <a class="btn btn-primary btn-lg" href="mailto:hello@Tocheel.ai?subject=Question%20about%20Job%20Openings&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20question%3A%20%3Center%20question%20here%3E">Contact us</a>
        <p class="text-center mt-4">Copyright 2022, Tocheel</p>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>